;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.0"]
  [clj-commons/secretary "1.2.4"]]

 :dev-http {8080 {:root "public"
                  :proxy-url "http://localhost:9876"}}

 :builds
 {:ui {:target :browser
               :modules {:main {:init-fn pink-pirate-radio-client.main/init}}}}}
