{"blocks"
 {"languageVersion" 0,
  "blocks"
  [{"type" "on_button_push",
    "id" "(;Zh2Q-Y*t0eTSf5t[O#",
    "x" 41,
    "y" 79,
    "fields" {"button" "btn_a"},
    "inputs"
    {"handler"
     {"block"
      {"type" "controls_repeat_ext",
       "id" "nbVV9$~.Q%G3`8e~ArH4",
       "inputs"
       {"TIMES"
        {"shadow"
         {"type" "math_number",
          "id" "O}yoKN[g*q}^[e1%TPJ6",
          "fields" {"NUM" 10}},
         "block"
         {"type" "math_number",
          "id" "IT,*Z|nF_Jne^p`H?-z]",
          "fields" {"NUM" 5}}},
        "DO"
        {"block"
         {"type" "play_sound_clip",
          "id" "uJ^,gq5Nq^=EpXlgGY@s",
          "fields" {"clip" "none"}}}}}}}}
   {"type" "on_button_push",
    "id" "wBh~Zkbm?`ZFro)nNn@3",
    "x" 35,
    "y" 329,
    "fields" {"button" "btn_x"},
    "inputs"
    {"handler"
     {"block"
      {"type" "variables_set",
       "id" "sUjL|qLJogm?/L0IjG6c",
       "fields" {"VAR" {"id" "/J$e`HX]DUP9={{Z/4A`"}},
       "inputs"
       {"VALUE"
        {"block"
         {"type" "math_arithmetic",
          "id" "APmj]*$xm{`l26QRaYhT",
          "fields" {"OP" "ADD"},
          "inputs"
          {"A"
           {"shadow"
            {"type" "math_number",
             "id" "(g2|`V1A5C6P8,K(B^cf",
             "fields" {"NUM" 1}},
            "block"
            {"type" "variables_get",
             "id" "T^W-AXbKEP~;m:}O@[S1",
             "fields" {"VAR" {"id" "`]?Bk^p-W#:v:Y|C=jDO"}}}},
           "B"
           {"shadow"
            {"type" "math_number",
             "id" "zuDwk6)pc)NaS`}jc=#J",
             "fields" {"NUM" 50}}}}}}},
       "next"
       {"block"
        {"type" "set_display_color",
         "id" "AQ{NeImI.*n=j$$OU~,G",
         "inputs"
         {"VALUE"
          {"block"
           {"type" "colour_rgb",
            "id" "Sdcwx]_sxjgi:HD%TkQi",
            "inputs"
            {"RED"
             {"shadow"
              {"type" "math_number",
               "id" "-_akvQK$Pu_p}Pwn:Vzy",
               "fields" {"NUM" 100}},
              "block"
              {"type" "variables_get",
               "id" "7)DTDB^#~H?x`AB_6:*d",
               "fields" {"VAR" {"id" "/J$e`HX]DUP9={{Z/4A`"}}}},
             "GREEN"
             {"shadow"
              {"type" "math_number",
               "id" "aV=`%Ba,*5VV!X46THQr",
               "fields" {"NUM" 50}},
              "block"
              {"type" "variables_get",
               "id" "w3ASHv85xm}Q5isom6Ke",
               "fields" {"VAR" {"id" "xB^jOxBla`c$E1rex/[m"}}}},
             "BLUE"
             {"shadow"
              {"type" "math_number",
               "id" "@y=zbk7Y{%9C}Mofa.:A",
               "fields" {"NUM" 0}},
              "block"
              {"type" "variables_get",
               "id" ")`o?+/dO=t,gC:`+zj$*",
               "fields"
               {"VAR" {"id" "`]?Bk^p-W#:v:Y|C=jDO"}}}}}}}}}}}}}}
   {"type" "on_program_start",
    "id" "g{_c{cFaEP2zR]v-P@K[",
    "x" 38,
    "y" 203,
    "inputs"
    {"handler"
     {"block"
      {"type" "variables_set",
       "id" ")e]j8Ylaa0{j9n2noYwI",
       "fields" {"VAR" {"id" "/J$e`HX]DUP9={{Z/4A`"}},
       "inputs"
       {"VALUE"
        {"block"
         {"type" "math_number",
          "id" "Ih6Q!{/SlG1]qM]^Lwfp",
          "fields" {"NUM" 0}}}},
       "next"
       {"block"
        {"type" "variables_set",
         "id" "5fKb(c+#rw!:q3D^jK[J",
         "fields" {"VAR" {"id" "xB^jOxBla`c$E1rex/[m"}},
         "inputs"
         {"VALUE"
          {"block"
           {"type" "math_number",
            "id" "MV;x7K#rzoRVXHSx6/97",
            "fields" {"NUM" 0}}}},
         "next"
         {"block"
          {"type" "variables_set",
           "id" "zVm+)PM/B=p+e4R-Q_nv",
           "fields" {"VAR" {"id" "`]?Bk^p-W#:v:Y|C=jDO"}},
           "inputs"
           {"VALUE"
            {"block"
             {"type" "math_number",
              "id" "dsm{UGHs7J/{*/FUM^!Y",
              "fields" {"NUM" 0}}}}}}}}}}}}
{"type" "on_button_push",
 "id" "Hce3kz#G;m{?lG8oV.r6",
 "x" 36,
 "y" 486,
 "fields" {"button" "btn_y"},
 "inputs"
 {"handler"
  {"block"
   {"type" "variables_set",
    "id" "1C/(wTQ,XyFu;{+rND{U",
    "fields" {"VAR" {"id" "xB^jOxBla`c$E1rex/[m"}},
    "inputs"
    {"VALUE"
     {"block"
      {"type" "math_arithmetic",
       "id" "e16e(dw3[DGT[VjuY@fL",
       "fields" {"OP" "ADD"},
       "inputs"
       {"A"
        {"shadow"
         {"type" "math_number",
          "id" "(g2|`V1A5C6P8,K(B^cf",
          "fields" {"NUM" 1}},
         "block"
         {"type" "variables_get",
          "id" "CR:P|{=:b.qoWXgV3B4t",
          "fields" {"VAR" {"id" "`]?Bk^p-W#:v:Y|C=jDO"}}}},
        "B"
        {"shadow"
         {"type" "math_number",
          "id" "c+0SrF/d7?]Lsf@.Q(nK",
          "fields" {"NUM" 50}}}}}}},
    "next"
    {"block"
     {"type" "set_display_color",
      "id" "3ERG6)6!dmrhCy-]YvGu",
      "inputs"
      {"VALUE"
       {"block"
        {"type" "colour_rgb",
         "id" "b+M79$0xQu[~laFcz;an",
         "inputs"
         {"RED"
          {"shadow"
           {"type" "math_number",
            "id" "-_akvQK$Pu_p}Pwn:Vzy",
            "fields" {"NUM" 100}},
           "block"
           {"type" "variables_get",
            "id" "dX|m1,L+eMoO;Ym$jbcB",
            "fields" {"VAR" {"id" "/J$e`HX]DUP9={{Z/4A`"}}}},
          "GREEN"
          {"shadow"
           {"type" "math_number",
            "id" "aV=`%Ba,*5VV!X46THQr",
            "fields" {"NUM" 50}},
           "block"
           {"type" "variables_get",
            "id" "{SrQsBr5%Cu]vTl/5e.i",
            "fields" {"VAR" {"id" "xB^jOxBla`c$E1rex/[m"}}}},
          "BLUE"
          {"shadow"
           {"type" "math_number",
            "id" "@y=zbk7Y{%9C}Mofa.:A",
            "fields" {"NUM" 0}},
           "block"
           {"type" "variables_get",
            "id" "KSh/U#*.z40eT2_VZ[!.",
            "fields"
            {"VAR" {"id" "`]?Bk^p-W#:v:Y|C=jDO"}}}}}}}}}}}}}}
{"type" "on_button_push",
 "id" "E-[i;gq/@yF;6%q17KeN",
 "x" 49,
 "y" 658,
 "fields" {"button" "btn_a"},
 "inputs"
 {"handler"
  {"block"
   {"type" "variables_set",
    "id" "TS@RPJkk,|fnj8Pyw%3{",
    "fields" {"VAR" {"id" "`]?Bk^p-W#:v:Y|C=jDO"}},
    "inputs"
    {"VALUE"
     {"block"
      {"type" "math_arithmetic",
       "id" "}b+,^S6#rgaTpSJ#Eb5c",
       "fields" {"OP" "ADD"},
       "inputs"
       {"A"
        {"shadow"
         {"type" "math_number",
          "id" "(g2|`V1A5C6P8,K(B^cf",
          "fields" {"NUM" 1}},
         "block"
         {"type" "variables_get",
          "id" "WtEl?ja~^cwE2P1;,Tpa",
          "fields" {"VAR" {"id" "`]?Bk^p-W#:v:Y|C=jDO"}}}},
        "B"
        {"shadow"
         {"type" "math_number",
          "id" "!)}PHg+)2qa*]6Si3~!=",
          "fields" {"NUM" 50}}}}}}},
    "next"
    {"block"
     {"type" "set_display_color",
      "id" "g,F7-rPBL9-n%|o[23%5",
      "inputs"
      {"VALUE"
       {"block"
        {"type" "colour_rgb",
         "id" "[Q0sCe{v|+(A0w5GUXt}",
         "inputs"
         {"RED"
          {"shadow"
           {"type" "math_number",
            "id" "-_akvQK$Pu_p}Pwn:Vzy",
            "fields" {"NUM" 100}},
           "block"
           {"type" "variables_get",
            "id" "!y*2bQUsX7DG]Uv[ObS*",
            "fields" {"VAR" {"id" "/J$e`HX]DUP9={{Z/4A`"}}}},
          "GREEN"
          {"shadow"
           {"type" "math_number",
            "id" "aV=`%Ba,*5VV!X46THQr",
            "fields" {"NUM" 50}},
           "block"
           {"type" "variables_get",
            "id" "ARr}Za}HVC#mwgZz8ySK",
            "fields" {"VAR" {"id" "xB^jOxBla`c$E1rex/[m"}}}},
          "BLUE"
          {"shadow"
           {"type" "math_number",
            "id" "@y=zbk7Y{%9C}Mofa.:A",
            "fields" {"NUM" 0}},
           "block"
           {"type" "variables_get",
            "id" "j(9M.[7NtG!z_8Hfb=H$",
            "fields"
            {"VAR" {"id" "`]?Bk^p-W#:v:Y|C=jDO"}}}}}}}}}}}}}}]},
"variables"
[{"name" "r", "id" "/J$e`HX]DUP9={{Z/4A`"}
 {"name" "g", "id" "xB^jOxBla`c$E1rex/[m"}
 {"name" "b", "id" "`]?Bk^p-W#:v:Y|C=jDO"}]}
